<div class="container small p-0 text-white">
  <!-- Header -->
  <div
    class="fixed-top d-flex justify-content-between shadow-sm px-3 py-3 bg-primary max-w-lg w-100 mx-auto"
  >
    <div class="d-flex align-items-center justify-content-center">
        <i class="bi bi-arrow-left-short fs-4 me-4 cursor" onclick="history.back()"></i>
        <h5 class="mb-0" style="line-height: 2">ArbiTap</h5>
    </div>
    <div class="d-flex align-items-center justify-content-center">
        <i class="bi bi-arrow-down-short fs-4 me-4"></i>
        <i class="bi bi-three-dots-vertical fs-4"></i>
    </div>
  </div>

  <div class="my-7 bg-white borded position-relative">
    <div
      class="d-flex justify-content-between align-item-center bg-primary p-4"
    >
      <div>
        <h5>FAQ</h5>
        <p>Find answer and to frequently asked question</p>
      </div>
      <i class="display-1 text-white bi bi-question-circle"></i>
    </div>
    <div
      class="shadow-sm rounded-4 p-4 text-dark position-absolute w-100 bg-white rounded-bottom-0 mb-5"
      style="top: 120px;margin-bottom: 10rem;"
    >
      <div class="mb-3">
        <h6 class="p-3 rounded-5 fw-bold bg-light mb-3 text-muted">
          What is ArbiTap?
        </h6>
        <p class="text-muted px-2">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit.
          Exercitationem ipsa eius tempora unde eum ratione dolores. Adipisci
          explicabo nostrum cumque! Deleniti sed reiciendis voluptate natus qui
          modi sit molestiae suscipit.
        </p>
      </div>
      <div class="mb-3">
        <h6 class="p-3 rounded-5 fw-bold bg-light mb-3 text-muted">
          What is ArbiTap?
        </h6>
        <p class="text-muted px-2">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit.
          Exercitationem ipsa eius tempora unde eum ratione dolores. Adipisci
          explicabo nostrum cumque! Deleniti sed reiciendis voluptate natus qui
          modi sit molestiae suscipit.
        </p>
      </div>
      <div class="mb-3">
        <h6 class="p-3 rounded-5 fw-bold bg-light mb-3 text-muted">
          What is ArbiTap?
        </h6>
        <p class="text-muted px-2">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit.
          Exercitationem ipsa eius tempora unde eum ratione dolores. Adipisci
          explicabo nostrum cumque! Deleniti sed reiciendis voluptate natus qui
          modi sit molestiae suscipit.
        </p>
      </div>
      <div class="mb-3">
        <h6 class="p-3 rounded-5 fw-bold bg-light mb-3 text-muted">
          What is ArbiTap?
        </h6>
        <p class="text-muted px-2">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit.
          Exercitationem ipsa eius tempora unde eum ratione dolores. Adipisci
          explicabo nostrum cumque! Deleniti sed reiciendis voluptate natus qui
          modi sit molestiae suscipit.
        </p>
        <div class="text-center">
            <button class="btn btn-primary rounded-pill">Referral Plans</button>
        </div>
      </div>
      <div class="mb-5">
        <h6 class="p-3 rounded-5 fw-bold bg-light mb-3 text-muted">
          What is ArbiTap?
        </h6>
        <p class="text-muted px-2">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit.
          Exercitationem ipsa eius tempora unde eum ratione dolores. Adipisci
          explicabo nostrum cumque! Deleniti sed reiciendis voluptate natus qui
          modi sit molestiae suscipit.
        </p>
        <div class="text-center">
            <button class="btn btn-primary rounded-pill">Referral Plans</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Action Buttons -->
  <div
    class="fixed-bottom d-flex justify-content-around shadow-lg pt-2 pb-2 bg-white max-w-lg w-100 mx-auto"
  >
    <a
      href="/trade"
      class="text-dark text-decoration-none text-center fs-6 px-4 pb-0 py-2 rounded-4"
    >
      <i class="fs-5 text-primary bi bi-graph-up fw-bold"></i>
      <p class="p-0 small text-secodary mb-0 pb-2 fw-bold">Trade</p>
    </a>
    <a
      href="/invite"
      class="text-dark text-decoration-none text-center fs-6 px-4 pb-0 py-2 rounded-4"
    >
      <i class="fs-5 text-primary bi bi-person-plus"></i>
      <p class="p-0 small text-secodary mb-0 pb-2 fw-bold">Invite</p>
    </a>
    <a
      href="/wallet"
      class="text-dark text-decoration-none text-center fs-6 px-4 pb-0 py-2 rounded-4"
    >
      <i class="fs-5 text-primary bi bi-wallet-fill"></i>
      <p class="p-0 small text-secodary mb-0 pb-2 fw-bold">Wallet</p>
    </a>
    <a
      href="/faq"
      class="text-dark text-decoration-none text-center fs-6 px-4 pb-0 py-2 rounded-4 shawdow bg-primary text-white"
    >
      <i class="fs-5 text-white bi bi-question-circle"></i>
      <p class="p-0 small text-secodary mb-0 pb-2 fw-bold">FAQ</p>
    </a>
  </div>
</div>
