<div class="container small p-0 text-white">
  <!-- Header -->
  <div
    class="fixed-top d-flex justify-content-between shadow-sm px-3 py-3 bg-primary max-w-lg w-100 mx-auto"
  >
    <div class="d-flex align-items-center justify-content-center">
      <i
        class="bi bi-arrow-left-short fs-4 me-4 cursor"
        onclick="history.back()"
      ></i>
      <h5 class="mb-0" style="line-height: 2">ArbiTap</h5>
    </div>
    <div class="d-flex align-items-center justify-content-center">
      <i class="bi bi-arrow-down-short fs-4 me-4"></i>
      <i class="bi bi-three-dots-vertical fs-4"></i>
    </div>
  </div>

  <div class="my-7 bg-white borded position-relative">
    <div
      class="d-flex justify-content-between align-item-center bg-primary p-4 pb-5"
    >
      <div>
        <h3>Boost Profit</h3>
        <!-- <p>Find answer and to frequently asked question</p> -->
      </div>
      <i class="display-5 text-white bi bi-send-arrow-up-fill"></i>
    </div>
    <div
      class="shadow-sm rounded-4 p-4 text-dark position-absolute w-100 bg-white rounded-bottom-0"
      style="top: 90px; margin-bottom: 10rem"
    >
      <div
        class="d-flex mb-3 align-items-center justify-content-between p-2 border rounded-4"
      >
        <div class="d-flex align-items-start me-3">
          <i
            class="text-white bi bi-send-arrow-up-fill fs-5 rounded-circle bg-primary me-2"
            style="padding: 3px 7px"
          ></i>
          <div>
            <h6 class="mb-0 text-muted">Subscribe to our channel</h6>
            <p class="text-muted mb-0">Lorem ipsum dolor sit amet consectetur</p>
          </div>
        </div>
        <div>
          <button class="btn btn-sm btn-primary rounded-pill">Done</button>
        </div>
      </div>
      <div class="my-3">
        <h6 class="fw-bold mb-3 text-muted">Profit Levels</h6>
        <div
          class="d-flex mb-3 align-items-center justify-content-between p-2 border rounded-4"
        >
          <div class="d-flex align-items-start me-3">
            <i
              class="text-white bi bi-wallet-fill fs-5 rounded-circle bg-primary me-2"
              style="padding: 3px 7px"
            ></i>
            <div>
              <h6 class="mb-0 text-muted">Subscribe to our channel</h6>
              <p class="text-muted mb-0">Lorem ipsum dolor sit amet consectetur</p>
            </div>
          </div>
        </div>
        <div
          class="d-flex mb-3 align-items-center justify-content-between p-2 border rounded-4"
        >
          <div class="d-flex align-items-start me-3">
            <i
              class="text-white bi bi-building-fill-up fs-5 rounded-circle bg-primary me-2"
              style="padding: 3px 7px"
            ></i>
            <div>
              <h6 class="mb-0 text-muted">Subscribe to our channel</h6>
              <p class="text-muted mb-0">Lorem ipsum dolor sit amet consectetur</p>
            </div>
          </div>
        </div>
        <button
          class="btn btn-primary w-100 rounded-pill py-2"
          type="button"
          data-bs-toggle="modal"
          data-bs-target="#upgradeModel"
        >
          Upgrade Level
        </button>
        <table class="table my-3">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">First</th>
              <th scope="col">Last</th>
              <th scope="col">Handle</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>mdo</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>fat</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td colspan="2">Larry the Bird</td>
              <td>twitter</td>
            </tr>
          </tbody>
        </table>
        <p class="text-muted mb-0">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum
          impedit sit nam, ad facere voluptatum commodi incidunt explicabo
          doloremque dolor expedita eaque soluta molestiae, quas delectus illo a
          culpa quo?
        </p>
      </div>
    </div>
  </div>

  <!-- Action Buttons -->
  <div
    class="fixed-bottom d-flex justify-content-around shadow-lg pt-2 pb-2 bg-white max-w-lg w-100 mx-auto"
  >
    <a
      href="/trade"
      class="text-dark text-decoration-none text-center fs-6 px-4 pb-0 py-2 rounded-4"
    >
      <i class="fs-5 text-primary bi bi-graph-up fw-bold"></i>
      <p class="p-0 small text-secodary mb-0 pb-2 fw-bold">Trade</p>
    </a>
    <a
      href="/invite"
      class="text-dark text-decoration-none text-center fs-6 px-4 pb-0 py-2 rounded-4"
    >
      <i class="fs-5 text-primary bi bi-person-plus"></i>
      <p class="p-0 small text-secodary mb-0 pb-2 fw-bold">Invite</p>
    </a>
    <a
      href="/wallet"
      class="text-dark text-decoration-none text-center fs-6 px-4 pb-0 py-2 rounded-4 shawdow bg-primary text-white"
    >
      <i class="fs-5 text-white bi bi-wallet-fill"></i>
      <p class="p-0 small text-secodary mb-0 pb-2 fw-bold">Wallet</p>
    </a>
    <a
      href="/faq"
      class="text-dark text-decoration-none text-center fs-6 px-4 pb-0 py-2 rounded-4"
    >
      <i class="fs-5 text-primary bi bi-question-circle"></i>
      <p class="p-0 small text-secodary mb-0 pb-2 fw-bold">FAQ</p>
    </a>
  </div>

  <!-- Modal -->
  <div
    class="modal fade"
    id="upgradeModel"
    tabindex="-1"
    aria-labelledby="upgradeModelLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content rounded-4" style="top: 150px">
        <!-- <div class="modal-header">
          <h1 class="modal-title fs-5" id="upgradeModelLabel">Modal title</h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div> -->
        <div class="modal-body">
            <!-- <ul class="nav nav-tabs" id="myTab" role="tablist"> -->
                <div class="d-flex align-items-center justify-content-between p-4">
                    <div class="nav-item" role="presentation">
                      <button class="nav-link bg-primary p-3 rounded-4" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">
                        <div class="d-flex align-items-start me-3 text-white"  id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab">
                            <i
                              class="text-white bi bi-send-arrow-up-fill fs-5 rounded-circle bg-primary me-2"
                              style="padding: 3px 7px"
                            ></i>
                            <div>
                              <h6 class="mb-0 text-white">TON</h6>
                              <p class="text-white mb-0">Toncoin</p>
                            </div>
                          </div>
                      </button>
                    </div>
                    <div class="nav-item" role="presentation">
                      <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">
                        <div class="d-flex align-items-start me-3" id="ton2">
                            <i
                              class="text-white bi bi-send-arrow-up-fill fs-5 rounded-circle bg-primary me-2"
                              style="padding: 3px 7px"
                            ></i>
                            <div>
                              <h6 class="mb-0 text-muted">TON</h6>
                              <p class="text-muted mb-0">Toncoin</p>
                            </div>
                          </div>
                      </button>
                    </div>
                </div>
                <div class="d-flex align-items-center justify-content-between p-4">
                    <div class="nav-item" role="presentation">
                      <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact-tab-pane" type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false">
                        <div class="d-flex align-items-start me-3"  id="ton3">
                            <i
                              class="text-white bi bi-coin fs-5 rounded-circle bg-diamond me-2"
                              style="padding: 3px 7px"
                            ></i>
                            <div>
                              <h6 class="mb-0 text-muted">TON</h6>
                              <p class="text-muted mb-0">Toncoin</p>
                            </div>
                          </div>
                      </button>
                    </div>
                    <div class="nav-item" role="presentation">
                      <button class="nav-link" id="disabled-tab" data-bs-toggle="tab" data-bs-target="#disabled-tab-pane" type="button" role="tab" aria-controls="disabled-tab-pane" aria-selected="false">
                        <div class="d-flex align-items-start me-3"  id="ton4">
                            <i
                              class="text-white bi bi-coin fs-5 rounded-circle bg-diamond me-2"
                              style="padding: 3px 7px"
                            ></i>
                            <div>
                              <h6 class="mb-0 text-muted">TON</h6>
                              <p class="text-muted mb-0">Toncoin</p>
                            </div>
                          </div>
                      </button>
                    </div>
                </div>
                <div class="d-flex align-items-center justify-content-between p-4">
                    <div class="d-flex align-items-start me-3"  id="ton5">
                      <i
                        class="text-white bi bi-gem fs-5 rounded-circle bg-dollar me-2"
                        style="padding: 3px 7px"
                      ></i>
                      <div>
                        <h6 class="mb-0 text-muted">TON</h6>
                        <p class="text-muted mb-0">Toncoin</p>
                      </div>
                    </div>
                    <div class="d-flex align-items-start me-3"  id="ton6">
                        <i
                          class="text-white bi bi-gem fs-5 rounded-circle bg-dollar me-2"
                          style="padding: 3px 7px"
                        ></i>
                        <div>
                          <h6 class="mb-0 text-muted">TON</h6>
                          <p class="text-muted mb-0">Toncoin</p>
                        </div>
                      </div>
                  </div>
                
              <!-- </ul> -->
              
          <!-- <div class="d-flex align-items-center justify-content-between p-4">
            <div class="d-flex align-items-start me-3"  id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab">
              <i
                class="text-white bi bi-send-arrow-up-fill fs-5 rounded-circle bg-primary me-2"
                style="padding: 3px 7px"
              ></i>
              <div>
                <h6 class="mb-0 text-muted">TON</h6>
                <p class="text-muted mb-0">Toncoin</p>
              </div>
            </div>
            <div class="d-flex align-items-start me-3" id="ton2">
                <i
                  class="text-white bi bi-send-arrow-up-fill fs-5 rounded-circle bg-primary me-2"
                  style="padding: 3px 7px"
                ></i>
                <div>
                  <h6 class="mb-0 text-muted">TON</h6>
                  <p class="text-muted mb-0">Toncoin</p>
                </div>
              </div>
          </div>
          <div class="d-flex align-items-center justify-content-between p-4">
            <div class="d-flex align-items-start me-3"  id="ton3">
              <i
                class="text-white bi bi-coin fs-5 rounded-circle bg-primary me-2"
                style="padding: 3px 7px"
              ></i>
              <div>
                <h6 class="mb-0 text-muted">TON</h6>
                <p class="text-muted mb-0">Toncoin</p>
              </div>
            </div>
            <div class="d-flex align-items-start me-3"  id="ton4">
                <i
                  class="text-white bi bi-coin fs-5 rounded-circle bg-primary me-2"
                  style="padding: 3px 7px"
                ></i>
                <div>
                  <h6 class="mb-0 text-muted">TON</h6>
                  <p class="text-muted mb-0">Toncoin</p>
                </div>
              </div>
          </div>
          <div class="d-flex align-items-center justify-content-between p-4">
            <div class="d-flex align-items-start me-3"  id="ton5">
              <i
                class="text-white bi bi-gem fs-5 rounded-circle bg-primary me-2"
                style="padding: 3px 7px"
              ></i>
              <div>
                <h6 class="mb-0 text-muted">TON</h6>
                <p class="text-muted mb-0">Toncoin</p>
              </div>
            </div>
            <div class="d-flex align-items-start me-3"  id="ton6">
                <i
                  class="text-white bi bi-gem fs-5 rounded-circle bg-primary me-2"
                  style="padding: 3px 7px"
                ></i>
                <div>
                  <h6 class="mb-0 text-muted">TON</h6>
                  <p class="text-muted mb-0">Toncoin</p>
                </div>
              </div>
          </div> -->
          <div class="tab-content mt-4 p-3 border rounded" id="myTabContent">
            <div class="tab-pane fade show active text-dark" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis asperiores cupiditate, veritatis quia porro recusandae, ipsum dicta atque, fuga illo molestiae amet! Tempore ratione nesciunt repudiandae sequi! Doloremque, sit asperiores!
            </div>
            <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">...</div>
            <div class="tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">...</div>
            <div class="tab-pane fade" id="disabled-tab-pane" role="tabpanel" aria-labelledby="disabled-tab" tabindex="0">...</div>
          </div>
        </div>
        <!-- <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div> -->
      </div>
    </div>
  </div>
</div>
